
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")
<div>
    <h4><label>Word document (.doc/.docx) to PDF Conversion</label></h4>
</div>
<div id ="maindiv" class="well-lg panel panel-group maindiv" style="padding:30px 0px 0px 0px">
    <div class="panel panel-info" style="height:100px">
        <div class="row panel-heading" style="padding:0px 0px 0px 20px;height:100px">
            <div class="row panel-heading" style="padding:0px 0px 0px 20px;height:100px">
                <div>
                    <h4>Choose a .doc/.docx file to upload:</h4>
                </div>
                <div class="row" style="padding:0px 0px 0px 50px">
                    <div class="col-md-4">
                        <input name="files" type="file" id="files" class="form-control" required />
                    </div>
                    <input id="convertButton" type="button" class="btn btn-success" value="Convert" />
                    <input id="downloadButton" type="button" class="btn btn-primary" value="Download" />
                    <label id="message" for="Message"></label>
                    <input id="hiddenPdfFile" type="hidden" />
                </div>
            </div>
        </div>

        

    </div>
        </div>

<div class="loadingDiv" id="loadingDiv" >

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#loadingDiv").show();
        });
        $(document).ajaxComplete(function () {
            $("#loadingDiv").hide();
        });

        $("#loadingDiv").hide();
        $('#downloadButton').attr("disabled","true")

        $('#downloadButton').on('click', function () {
            $("#message").html("");
            var pdfFileName = $("#hiddenPdfFile").val();
            window.open("/api/Doc2PdfApi/Download?fileName=" + pdfFileName)
        })


        $('#convertButton').on('click', function () {
            $("#message").html("");
            var data = new FormData();
            var files = $("#files").get(0).files;
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }
            $.ajax({
                type: "POST",
                url: "/api/Doc2PdfApi/Upload",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if(result.includes('.pdf'))
                    {
                        $("#message").html("Converted Successfully")
                        $("#message").css({ "color": "green" })
                        $("#hiddenPdfFile").val(result)
                        $('#downloadButton').removeAttr("disabled")
                    }
                    else
                    {
                        $("#message").html(result)
                        $("#message").css({ "color": "red" })
                        $('#downloadButton').attr("disabled", "true")
                    }
                },
                error: function (result) {
                    $("#message").html("Error Occured")
                    $("#message").css({ "color": "red" })
                    $('#downloadButton').attr("disabled", "true")
                }
                

            });

        });
    });
</script>
