
@{
    ViewBag.Title = "UserProfile";
}

<div class="row">
    <div class="col-sm-6">
        <h4>Raja Singh Ravi</h4>
    </div>
    <div class="col-sm-6">
        <embed src="~/UploadedFiles/Raja Singh Ravi - Resume.pdf" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
</div>